$surface-strongest: #0a0d0e;
$surface-strong: #101415;
$surface-moderate: #141819;
$surface-weak: #141819;
$surface-weakest: #141819;

$white-strongest: rgb(255, 255, 255);
$white-strong: rgba(255, 255, 255, 0.87);
$white-moderate: rgba(255, 255, 255, 0.34);
$white-weak: rgba(255, 255, 255, 0.14);
$white-weakest: rgba(255, 255, 255, 0.06);

$black-strongest: rgb(0, 0, 0);
$black-strong: rgba(0, 0, 0, 0.87);
$black-moderate: rgba(0, 0, 0, 0.42);
$black-weak: rgba(0, 0, 0, 0.15);
$black-weakest: rgba(0, 0, 0, 0.06);

$red-normal: #ee6a70;
$red-light: #df5b61;
$orange-normal: #ffb29b;
$orange-light: #ffb29b;
$yellow-normal: #f6dc95;
$yellow-light: #ecd28b;
$green-normal: #96d6b0;
$green-light: #87c7a1;
$cyan-normal: #7fc8db;
$cyan-light: #70b9cc;
$blue-normal: #7ba5dd;
$blue-light: #6791c9;
$purple-normal: #cb92f2;
$purple-light: #bc83e3;
$pink-normal: #eb8b8b;
$pink-light: #c45166;

$accent-primary: $purple-normal;
$accent-secondary: $green-normal;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-strong};